*,
*::after,
*::before {
  box-sizing: border-box;
}

.ql-editor {
  height: 700px !important;
  background-color: white !important;
}

span.ql-formats {
  visibility: hidden !important;
}

.ql-toolbar.ql-snow {
  background-color: #021e39 !important;
}
